.header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #d2ebe6;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.logo {
  max-width: max-content;
}
.logo img {
  max-width: 9rem;
}
.menu {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
  gap: 2rem;
}
.nav ul li {
  transition: all 0.3s ease 0s;
}

.nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}
.nav ul li {
  position: relative;
}
.nav ul li:hover a::before {
  opacity: 1;
  text-shadow: 10px 0 #1e9984, -10px 0 #1e9984;
  color: #1e9984;
}
.nav ul li a::before {
  position: absolute;
  top: 80%;
  left: 50%;
  color: transparent;
  content: "•";
  text-shadow: 0 0 transparent;
  font-size: 1.4em;
  -webkit-transition: text-shadow 0.3s, color 0.3s;
  -moz-transition: text-shadow 0.3s, color 0.3s;
  transition: text-shadow 0.3s, color 0.3s;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
}
.btn {
  background-color: #fff;
  padding: 1.4rem;
  border-radius: 1.4rem;
  transition: all 0.5s;
  cursor: pointer;
}
.btn a {
  text-decoration: none;
  color: #333;
  font-weight: 700;
  font-size: 1.5rem;
}
.btn:hover {
  background-color: #e9f5f3;
}

.nav ul li a.active {
  color: #1e9984;
}

@media (max-width: 1200px) {
  .logo img {
    max-width: 8rem;
  }
  .nav ul li a {
    font-size: 1.7rem;
  }
  .btn a {
    font-size: 1.3rem;
  }
}
.menuButtons {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.openMenuBtn {
  background-color: transparent;
}
.openMenuBtn img {
  width: 32px;
}
.closeMenuBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a353c;
  padding: 0.9rem;
  border-radius: 50%;
  transition: all 0.3s;
}
.closeMenuBtn img {
  width: 32px;
  transition: all 0.3s;
}
.closeMenuBtn:hover img {
  transform: rotateZ(360deg);
}
.openMenuBtn,
.closeMenuBtn {
  display: none;
  border: none;
  cursor: pointer;
}
.activeMenu {
  opacity: 1;
  pointer-events: all;
  visibility: visible;
}

@media (max-width: 995px) {
  .openMenuBtn,
  .closeMenuBtn {
    display: flex;
  }
  .header {
    /* position: fixed; */
    flex-direction: column-reverse;
    align-items: flex-end;
    background-color: #d2ebe6;
  }
  .container {
    position: fixed;
    z-index: 1000;
    height: 100vh;
    top: 0;
    right: 0;
    justify-content: space-around;
    transform: translateX(150%);
    background-color: #fff;
    display: flex;
    align-items: flex-end;
    width: max-content;
    padding: 2rem;
    gap: 2rem;
    /* height: 100vh; */
    flex-direction: column-reverse;
    transition: all 0.5s ease-in-out;
  }
  .menu {
    justify-content: flex-end;
  }
  .nav ul {
    align-items: flex-end;
    flex-direction: column-reverse;
  }
  .menuButtons {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
  .btn {
    background-color: #e9f5f3;
  }
}
/* !important */
.displayMenu {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
