.Features {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.FeaturesHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;
}
.FeaturesHeader .strong {
  padding: 0.6rem 3rem;

  border-radius: 2rem;
  background-color: #fee5cf;
  color: #f7b479;
}
.FeaturesHeader .HeaderTitle {
  font-size: 2rem;
}
.FeaturesHeader div p {
  color: #888;
  font-size: 1.2rem;
}
.BoxSection {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 100%;
  width: 82%;
  display: flex;

  justify-content: center;
  /* gap: 2px; */
}
.containerBoxResponsive {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.BoxContainer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 8px;
  padding: 40px 45px;
  max-width: 30%;
  max-height: 100%;

  align-self: stretch;
}
.DoctorsColor {
  background-color: #b3aacf;
}
.SamplingColor {
  background-color: #ebc89d;
}
.hygienicColor {
  background-color: #cae299;
}
.IconContainer {
  border-radius: 3rem;
}
.IconContainer img {
  padding: 2.5rem;
}
.ContentContainer {
  direction: rtl;
  max-width: 50vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.ContentContainer p {
  font-size: 1.5rem;
}
.ContentContainer strong {
  font-size: 1.6rem;
}

@media (max-width: 1700px) {
  .BoxSection {
  }
  .container {
    width: 85%;
  }
}

@media (max-width: 1600px) {
  .ContentContainer strong {
    font-size: 0.84rem;
    font-weight: bolder;
  }

  .ContentContainer p {
    font-size: 0.9rem;
  }
  .BoxSection {
  }
  .container {
    width: 90%;
  }
}

@media (max-width: 1400px) {
  .ContentContainer strong {
    font-size: 0.74rem;
    font-weight: bolder;
  }

  .ContentContainer p {
    font-size: 0.8rem;
  }
  .BoxSection {
  }
  .container {
    width: 95%;
  }
}
@media (max-width: 1200px) {
  /* .ContentContainer strong {
    font-size: 0.74rem;
    font-weight: bolder;
  } */
  /* 
  .ContentContainer p {
    font-size: 0.8rem;
  } */
  .BoxSection {
  }
  .container {
    width: 95%;
  }
}

@media (max-width: 1050px) {
  .container {
    flex-direction: column;
    gap: 0.5rem;
  }
  /* .BoxSection {
    margin-top: -350px;
  } */
  .containerBoxResponsive {
    width: 80%;
    display: flex;
    justify-content: center;
  }
  .BoxContainer {
    max-width: 100%;
  }
}
