.boxContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  max-width: 100%;
}
.boxIcon {
  max-width: 100%;
}

.boxContainer div img {
  max-width: 70px;
}

.boxContainer strong {
  font-size: 1.1rem;
}
.boxContainer p {
  font-size: 0.8rem;
}
