.LatestPostsContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 30px;
  margin-top: 200px;
  background-color: #f9f8ff;
  padding: 40px;
}
.LatestPostsContainer strong {
  font-size: 2.4rem;
}
.PostsContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1300px) {
  .PostsContainer {
    gap: 60px;
  }
}
@media (max-width: 1200px) {
  .PostsContainer {
    gap: 90px;
  }
}
