.post {
  max-width: 22%;
  display: flex;
  flex-direction: column;
}

.image {
  width: 30%;
  height: 10;
  border-radius: 5px;
}
.image img {
  width: 300px;
  border-radius: 10px;
}
.content {
  width: 300px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content strong {
  font-size: 1.9rem;
}
.content a {
  text-decoration: none;
  background-color: #fee5cf;
  width: max-content;
  color: #1e9984;
  padding: 10px;
  font-size: 1.3rem;
  border-radius: 10px;
  transition: all 0.3s;
}
.content a:hover {
  background-color: #e5ceba;
}

.content p {
  font-size: 1.4rem;
}
