.aboutUs {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.AboutUSContainer {
  width: 80%;
  display: flex;
  align-items: center;
}
.aboutUsImage img {
  width: 100%;
}
.AboutUsContent {
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.AboutUsContent h1 {
  font-size: 3.2rem;
}

.AboutUsContent p {
  font-size: 1.7rem;
  font-weight: 500;
}

@media (max-width: 1050px) {
  .AboutUSContainer {
    flex-direction: column-reverse;
    height: max-content;
  }
  .aboutUsImage {
    display: flex;
    justify-content: center;
  }
  .aboutUsImage img {
    width: 60%;
  }
  .AboutUsContent h1 {
    font-size: 2.5rem;
  }

  .AboutUsContent p {
    font-size: 1.5rem;
    font-weight: 500;
  }
}
