.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-image: url("../../assets//contact-bg.jpg");
  background-position: center;
  background-size: contain;
  margin: 5rem 0;
}
.contactUs {
  width: 50%;
  border-radius: 10px;
  color: #fff;
  direction: rtl;
  padding: 50px;
  height: max-content;
  background-color: #1a353c;
}
.contactUs ul {
  list-style: none;
}
.contactUs ul li {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 3.2rem;
}

.instagram a {
  display: block;
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1050px) {
  .contactUs {
    width: 70%;
  }
}
@media (max-width: 850px) {
  .contactUs {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .contactUs ul li {
    font-size: 1.3rem;
  }
}
