.detailContainer {
  direction: rtl;
  align-self: stretch;
  text-align: right;
}
.detailContainer img {
  width: 100%;
}
.detailContainer strong {
  font-size: 2.1rem;
}
.detailContainer p {
  font-size: 1.6rem;
  font-weight: 100;
}
