@font-face {
  font-family: "IranSans";
  src: url("./assets/Font/FontsFree-Net-ir_sans.ttf");
}
html {
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 62.5%;
  /* height: 1000vh; */
  font-family: "IranSans";
}
